.App {
  display: flex;
  overflow-x: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  min-height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  color: #ffffff;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.form-content-block-bk {
  width: 50vw;
  min-width: 375px;
  height: auto;
  background-color: black;
  color: white;
}

.form-content-block-wt {
  width: 50vw;
  min-width: 375px;
  height: auto;
  background-color: white;
  color: black;
}

.Nav-Wrapper {
  width: 100vw;
  height: auto;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.Nav-Content {
  width: 100vw;
  height: 100%;
  /* display: flex;
  align-items: space-evenly;
  flex-flow: row wrap; */
  text-decoration: none;
}

.Nav-Content-Links {
  width: 100vw;
  height: 100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 1rem 0rem;
  /* display: flex;
  align-items: space-evenly;
  flex-flow: row wrap; */
  text-decoration: none;
}

.Header-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100vw;
  color: white;
  background-image: url("./assets/architecture-004.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title-padding {
  padding: 25vh 50vw;
  opacity: 0.55;
}
