.App {
  display: flex;
  overflow-x: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  min-height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  color: #ffffff;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
  max-width: 375px;
  padding: 2rem;
  border: 1px solid white;
  background-color: #555;
  opacity: 0.8;
}

.Nav-Wrapper {
  width: 100vw;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Nav-Content {
  width: 50%;
  height: 100%;
  /* display: flex;
  align-items: space-evenly;
  flex-flow: row wrap; */
  text-decoration: none;
}

.Header-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100vw;
  color: white;
  background-image: url("./assets/architecture-004.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title-padding {
  padding: 25vh 50vw;
  opacity: 0.55;
}
