.App {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-image: url("./assets/city1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.form-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
  max-width: 375px;
  padding: 2rem;
  border: 1px solid white;
  background-color: #555;
  opacity: 0.8;
}
